body {
  background-image: url("background.jpg");
}

.playerNames{
  position: fixed;
  left: 50%;
  top: 50%;
  height: 500px;
  width: 1000px;
  margin-top: -250px;
  margin-left: -500px;
  position: absolute;
  text-align: center;
}

h3, .singlePlayer{
  margin:2 auto;
  letter-spacing: 1px;
  font-family: 'Staatliches';
  color: white;
}

.singlePlayer{
  margin:2 auto;
  margin-top: 20px;
}

.logoTag{
  margin:2 auto;
  font-family: 'Staatliches';
  color: white;
  font-size: 70px;
}

.tictactoe{
  color: red;
}

.players{
  margin:2 auto;
  font-family: 'Staatliches', cursive;
  font-size: 20px;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
}

input[type=text]{
  margin:2 auto;
  font-family: 'Staatliches';
  font-size: 30spx;
  letter-spacing: 2px;
  background-color: transparent;
  outline: none;
  text-align: center;
  border: 2px solid transparent;
  border-bottom: 2px solid white;
  padding: 4px 45px;
  transition: 1s;
  color: white;
}


input[type=text]:focus {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
}

input[type=submit], .singlePlayerButton{
  margin:2 auto;
  outline: none;
  font-family: 'Staatliches';
  letter-spacing: 4px;
  background-color: transparent;
  padding: 7px 45px;
  color: white;
  border: 2px solid white;
  border-radius: 4px;
  transition-duration: 0.9s;
}

input[type=submit]{
  margin:2 auto;
  margin-top: 15px;
}

input[type=submit]:hover, .singlePlayerButton:hover, .exitButton:hover{
  background-color: white;
  color: red;
}
