body {
  background-image: url("background.jpg");
}

.container {
  text-align: center;
  align-content: center;
  margin-top: 200px;
}

.tag>h1{
  font-size: 40px;
}

.playerTurn{
  position: absolute;
  color: white;
  margin-top: -70px;
  margin-left: 620px;
  font-family: 'Staatliches';
  font-size: 40px;
  letter-spacing: 1px;
}

.playerItself{
  color:red;
}

.box{
  width: 80px;
  height: 80px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  border: 2px solid white;
  background: rgb( 255, 255 ,255 , 0.2);
  color: white;
  transition: 1s;
}

.box:hover{
  background: rgb( 255, 255 ,255 , 0.1);
}

.board{
  display: inline-flex;
  flex-wrap: wrap;
  width:310px;
  margin-left: 150px;
}

.resetButton{
  outline: none;
  font-family: 'Staatliches';
  letter-spacing: 4px;
  background-color: transparent;
  position: absolute;
  padding: 4px 20px;
  margin-top: -140px;
  margin-left: 315px;
  color: white;
  border: 2px solid white;
  border-radius: 4px;
  transition-duration: 0.7s;
}

.resetScore{
  outline: none;
  font-family: 'Staatliches';
  letter-spacing: 4px;
  background-color: transparent;
  position: absolute;
  padding: 4px 20px;
  margin-top: -60px;
  margin-left: 315px;
  color: white;
  border: 2px solid white;
  border-radius: 4px;
  transition-duration: 0.7s;
}

.resetButton:hover, .resetScore:hover{
  background-color: white;
  color: red;
}