.outterBar{
  position: fixed;
  top: 50%;
  left: 43%;
  width: 202px;
  height: 12px;
  margin-top: -6px;
  margin-left: -101px;
  padding: 10px 200px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
}

.barLoader{
  position: absolute;
  margin-left: -195px;
  margin-top: -5px;
  height: 10px;
  background-color: white;
  border: 2px solid white;
  border-radius: 4px;
  transition: 0.1s;
  transition-timing-function: linear;
}

.loadingTag{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -60px;
  height: 50px;
  width: 150px;
  color: red;
  font-family: 'Staatliches';
  font-size: 40px;
}