.score{
  position: fixed;
  height: 300px;
  width: 300px;
  left: 50%;
  top: 50%;
  margin-top: -63px;
  margin-left: 170px;
  padding: 0;
}

#scorePlayer{
  font-family: 'Staatliches';
  letter-spacing: 2px;
  font-size: 30px;
  transition: 1s;
}

.badge-light{
  color: red;
}